*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
.nav{
    background-color: rgb(255, 255, 255);
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vh;
}
.gola{
    height: 3vw;
    width: 3vw;
    background-color: black;
    border-radius: 50%;
}
.nav1{
    display: flex;
}
.nav2{
    display: flex;
}
.nav2 h4{
    font-size: 2vh;
    margin-left: 2vw;
    font-weight: 500;
}
.nav2 h4 span{
    font-size: 2vh;
    margin-left: 2vw;
    font-weight: 500;
    color: rgb(255, 162, 40);
}
.nav3{
    background-color: rgb(255, 255, 255);
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 4vh;
}
.content{
    background-color: rgb(255, 255, 255);
    height: calc(100% - 20vh);
    width: 100vw;
}
.textcontent{
    height: 35vh;
    width: 100vw;
    background-color:rgb(255, 255, 255) ;
    display: flex;

    overflow-x: auto;
}
.elem{
    flex-shrink:0;
    height: 100%;
    width: 60vw;
    background-color: rgb(255, 255, 255);
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size: 8vh;
    font-weight: 300;
}
.textcontent::-webkit-scrollbar{
background-color: transparent;
height: 1vh;

}
.textcontent::-webkit-scrollbar-thumb{
background-color: rgb(255, 144, 144);

}
.imagecontent{
    height: 45vh;
    width: 100vw;
    background-color: rgb(232, 232, 232);
    display: flex;
    overflow-x: auto;
}
.imagecontent img{
    flex-shrink: 0;
    height: 100%;
    width: 100vw;
    object-fit: cover;
   
    
}
.nav2 h5{
    display: none;
}
.imagecontent::-webkit-scrollbar{
display: none;
}

@media (max-width: 600px) {
    .nav3{
        background-color: rgb(255, 255, 255);
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
       gap: 10px;
        
    }
    
   .nav2 h4{
    display: none;
   }
    .nav2 h5{
        display: initial;
        margin-left: 60%;
    }
    .nav3 h4{
        font-size: 1.5vh;
      
        font-weight: 500; 
    }
    .elem h1{
        font-size: 4vh;
        font-weight: 300;
    }
}
